.select{
    width: 11vw;
    height: 2vw;
    font-size: .8vw;
    margin-left: .1vw;
    padding-left: 1vw;
    border-radius: 15px;
    border-color: #EDF4F5;
}
.input{
    width: 13vw;
    height: 2vw;
    background-color: white;
    color: rgb(39, 40, 42);
    font-size: 1vw;
    border-radius: 5px;
    padding-left: .5vw;
}
.boton{
    background-color: rgb(238, 152, 81);
    width: 10vw;
    height: 2vw;
    border-radius: 15px; 
    text-align: center;
    font-family: 'Raleway-bold';
    padding-top: .4vw;
    display: flex;
    flex-direction: row;
}