.texto{
    font-family: 'Raleway-regular';
    font-size: 1.5vw;
    padding: 1vw 0 1.5vw 2vw;
}
.boton{
    background-Color: rgb(238, 152, 81);
    width: 35vw;
    height: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
}
.boton_imagenes{
    background-Color: rgb(224, 212, 97);
    border-radius: 50px;
    width: 3.8vw;
    height: 3.8vw;
    margin: 0 0 0 1vw;
    padding-bottom: .5vw;
    display: flex;
    align-items: center;
}
.boton_texto {
    padding-left: .6vw;
    font-size: 2vw;
}
.UVregular{
    font-family: 'Raleway-regular';
    border-Color: #70ACB5;
    size: lg;
    width: 74vW;
    color-scheme: teal
  }
.UVbold{
    font-family: 'Raleway-bold';
  }
.UVregular Box,
.UVregular Th,
.UVregular Td,
.UVbold Td {
padding-bottom: .5vw;
font-size: .9vw;
text-align: center;

}