.UVregular{
    font-family: 'Raleway-regular';
    border-Color: #70ACB5;
    size: lg;
    width: 74vW;
    color-scheme: teal
  }
.UVbold{
    font-family: 'Raleway-bold';
  }
.UVregular Box,
.UVregular Th,
.UVregular Td,
.UVbold Td {
padding-bottom: .5vw;
font-size: .9vw;
text-align: center;

}
.borrar{
  background-color: white;
  padding: 0 .3vw 0 .3vw;
  margin: 0 1vw 0 1vw;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  border-color: #F90000;
  border-width: 2px; 
}
.ver{
  background-color: #74CBAC;
  padding: 0 .3vw 0 .3vw;
  display: flex;
  justify-content: center;
  border-radius: 15px;
}